
#popularity_correlation_chart {
    padding-left: 20%
}
#explicit_chart {
    padding-left: 20%;
    padding-bottom: 5%;
}
#tempo_length_plot {
    padding-left: 15%;
    padding-bottom: 5%;
}

.vis-heading {
    display: block;
    text-align: center;
}

