body {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color:  #f2f0ef;
}
header {
  display: inline-block;
  background-color: #535353;
  color: white;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}
#popularity_correlation_chart {
    display: block;
    width: 60%;
    height: 300%;
    margin: 0 auto;
}
#explicit_chart {
  display: block;
  width: 80%;
  height: 800%;
  margin: 0 auto;
}
#tempo_length_plot {
  display: block;
  width: 70%;
  height: 1000%;
  margin: 0 auto;
}

.vis-heading {
    display: block;
    text-align: center;
    line-height: 1.5;
}

.radars {
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
}

#artists_radar_chart {
    padding-left:20%
}

#song_radar_chart {
    padding-left: 20%
}

.autocomplete {
      position: relative;
      display: block;
      padding-left: 20%;
    }
    .autocomplete-items {
      position: absolute;
      border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      top: 100%;
      left: 0;
      right: 0;
    }
    .autocomplete-items div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff;
      border-bottom: 1px solid #d4d4d4;
    }
    .autocomplete-items div:hover {
      background-color: #e9e9e9;
    }

    .autocompleteTracks {
      position: relative;
      display: inline-block;
    }
    .autocomplete-items {
      position: absolute;
      border: 1px solid #d4d4d4;
      border-bottom: none;
      border-top: none;
      z-index: 99;
      top: 100%;
      left: 0;
      right: 0;
    }
    .autocomplete-items div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff;
      border-bottom: 1px solid #d4d4d4;
    }
    .autocomplete-items div:hover {
      background-color: #e9e9e9;
    }
