html {
  scroll-behavior: smooth;
}
body {
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color:  #f2f0ef;
  
}

header {
  background-color: #171717;
  color: white;
  top: 0;
  width: 100%;
  padding: 20px 40px;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-shrink: 1;
}

.title-heading {
  margin: 0; 
  font-size: 2.2rem;
  font-weight: 700;
  text-align: left;
}

.spotify-logo {
  height: 100px;
  width: auto;
}

.dropdown-btn {
  background-color: #1E1E1E;
  color: #B3B3B3;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  font-size: medium;
  font-weight: 500;
  border-radius: 50px; 
}

.dropdown-btn:hover {
  background-color: #2a2a2a;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #282828;
  border-radius: 50px;
  min-width: 200px;
  padding: 5px 0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  overflow: hidden;
  z-index: 100;
}

.dropdown-content a {
  text-decoration: none; 
  display: block;
  color: #cbcaca;
  padding: 10px 20px;
  border-radius: 50px;
}

.dropdown-content a:hover {
  background-color: #383838;
}

#popularity_correlation_chart {
    display: block;
    width: 60%;
    height: 300%;
    margin: 0 auto;
}
#explicit_chart {
  display: block;
  margin-left: 50px;
}
#tempo_length_plot {
  display: block;
  width: 70%;
  height: 1000%;
  margin: 0 auto;
}

.vis-heading {
    display: block;
    text-align: center;
    line-height: 1.5;
}

.radars {
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
}

#artists_radar_chart {
    padding-left:20%
}

#song_radar_chart {
    padding-left: 20%
}

.autocomplete {
      position: relative;
      display: block;
      padding-left: 20%;
    }
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocompleteTracks {
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
